body {
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  background-color:#333333;
}

nav {
  display:flex;
  justify-content: space-around;
  margin-top:20px;
  color: #ffffff;
}

nav a { color:#fff; }

h1 {
  font-family: 'Titillium Web', sans-serif;
  /*font-weight:800;*/
  font-size:130px;
  /*color: #7fFFd4;*/
  color: #4dffc3;
  /*color: #87CEFA;*/
   /*text-shadow: -5px 1px  white;*/
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size:50px;
  font-weight:300;
  color:#ffffff;

}

.navHr { width:80%; }

.intro-title { text-align:center; margin-top:-20px; margin-left:400px; }

.nav-div {
  text-align:center;
  width:auto;
  height:auto;

}

.eighty-div { max-width: 80%;}

.profile-img { height:300px; width:250px; clear:left; border-radius:250px;margin-left:70px; margin-right:-80px; margin-top:40px; }

.intro-content { width:70%; margin-left:200px; }

.container-div {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;

}

.inner-div {
  display:flex;
  flex-direction:row;
}

.content-div {
  text-align:left;
  width:90%;
  /*height:300px;*/
  /*border-left: 0px;*/
  /*border-top:2px solid #ffffff;*/
  border-bottom:2px solid #ffffff;
  border-radius:5px;
  margin-top:20px;
}

.content-heads {
  font-family: 'Titillium Web', sans-serif;
  color: #4dffc3;
  font-size:100px;
  margin-left:10px;
}

.mollys-header { font-weight:lighter; margin-top:5px; margin-bottom:-10px; max-width:600px; font-size:6rem; line-height:90px; }

.nav-div:hover {
  /*border:2px solid #4dffc3;*/
  /*border-radius:10px;*/
  /*background-color: #4dffc3;*/

}

p {
  color:white;
  font-size:22px;
}

.p-div {
  width:85%;
  margin-left:60px;
  border-left: 4px solid white;
  padding-left:15px;
}

li {
  font-size:28px;
}

ul {
  width:50%;
  margin-left: 200px;
  color:white;
  list-style: none;
}

a {
  text-decoration:none;
}

/* PROJECTS */
.centennial { width:500px; height:300px; margin-top:100px; margin-left:65px; }
.vetted, .marquee, .randsom, .alexcoomer { width:500px; height:300px; margin-top:100px; margin-left:20px;}
.recipes { width:500px; height:300px; margin-top:150px; margin-left:20px; }
.shadow-img-2 { width:500px; height:300px; margin-top:150px; margin-left:20px; }
.shadow-img-3 { width:500px; height:300px; margin-top:70px; margin-left:20px; }
.luna { width:500px; height:300px; margin-top:100px; }
.mollys, .bamboo, .debellis { width:500px; height:300px; margin-top:100px; }
.inrch { width:500px; height:300px; margin-top:100px; margin-left:20px; }
.simon { width:500px; height:300px; margin-top:70px; margin-left:20px; }
a:visited, a:active, a:focus {
  color: #ffffff!important;
}

.ani-div {
  position:relative;
  -webkit-animation-name:div_enter;
  -webkit-animation-duration: 1.2s;
}

.letters {
  -webkit-animation-name:fade_in;
  -webkit-animation-duration: 4s;

}

.fade-img {
  -webkit-animation-name:fade_in;
  -webkit-animation-duration: 4s;
}

.shadow-img:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width:1400px) {
  h1 { font-size:108px;}
}

@media (max-width:1265px) {
  h1 { font-size:84px;}
  .intro-content { width:80%; margin:0 auto; }

}

@media (max-width:1265px) {
  h1 { font-size:72px;}
  .inner-div {flex-direction: column;}
  .eighty-div { max-width:100%; }
  .p-div {margin-left:0px; }
  .shadow-img { width:auto; height:auto!important; margin:20px auto!important;}
}

@media (max-width:990px) {

  h1, .mollys-header { display:block; font-size:4em!important; }
  .projects-text { font-size: 1.5em; }



}

@media (max-width:767px) {
  nav a { color:#fff; font-size:25px!important; margin: 20px 0px!important; }
  .nav-div { margin:20px!important; }
  .navHr { margin:30px!important; }
  .content-heads { margin-top:50px; }
}

@media (max-width:500px) {
  nav a { color:#fff; font-size:15px!important; }
  .navHr { margin-top:30px; }
}


@keyframes div_enter {
    0% { left:-1500px; top:0px; }
    100% { left:0px; top:0px;}
}

@keyframes fade_in {
  0% {opacity:0};
  80% {opacity:1};
  100%{opacity:1}
}


@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #4dffc3;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.hvr-fade {
  display: inline-block;
  border-radius:8px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #4dffc3;
  border-radius:8px;
  color: white;
}
