<div class = "ani-div" style= "display:inline; margin-top:-100px;">
  <h1 style="text-align:center; white-space:pre; display:inline; margin-left:50px;">ALEX  WANDRES</h1>
</div>
  <img class ="fade-img" src="img/headshot.jpg" style="height:300px; width:250px; clear:left; border-radius:250px;margin-left:70px; margin-right:-80px; margin-top:40px;" />

  <h3 class="letters" style="text-align:center; margin-top:-20px; margin-left:400px;">Web Developer</h3>

  <div style="width:70%; margin-left:200px;">
  <p class= "letters"style="text-align:center; ">Thinker, tinkerer, Javascript binger. For me, coding represents the synthesis of my most identifying interests. It taps into my drive to problem solve and analyze, all while feeding my hunger to create and inspire. When I'm not helping you create sleek and efficient applications, you can usually find me reading philosophy books or recording music.</p>
  </div>
