<div class = "ani-div" style= "display:inline; margin-top:-100px;">
  <h1 style="text-align:center; white-space:pre; display:inline; margin-left:50px;">ALEX  WANDRES</h1>
</div style="">
  <img src="img/headshot.jpg" style="height:300px; width:250px; clear:left; border-radius:250px;margin-left:70px; margin-right:-80px; margin-top:40px;" />

  <h3 class="letters" style="text-align:center; margin-top:-20px; margin-left:400px;">Web Developer</h3>

  <div style="width:70%; margin-left:200px;">
  <p class= "letters"style="text-align:center; ">I am a full-stack developer with heavy analytical skills who focuses on efficient workflow and creative solutions in order to optimize productive output. I have a sense for stylish design that yields an effective, enjoyable user experience and am organized and thorough with a relentless work ethic, capable of performing in individual or team-based environments.</p>
  </div>
