<div class="container-div">

<h1 style="font-size:50px; color:white;">Send Me an Email</h3>
<p>alex.r.wandres@gmail.com</p>
<h1 style="font-size:50px; color:white;">Find Me Online</h3>
<div style="display:flex; flex-direction:row;">
<a style="margin-left:20px;" href="http://facebook.com/alex.wandres" target="_blank"><img class="hvr-bob" src="img/fb-blue-72.png"></a>
<a style="margin-left:20px;" href="http://github.com/awandres" target="_blank"><img class="hvr-bob" src="img/lightgithub62.png" alt=""></a>
<a style="margin-left:20px;" href="https://www.linkedin.com/in/alex-wandres/" target="_blank"><img class="hvr-bob" src="img/linked66.png"></a>
</div>
</div>
