<div class="container-div">

<div class="content-div">
  <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;
">Marquee</h3>
  <div class="p-div"><p> Marquee is a concert sharing app that streamlines coordinating attendance to concerts and events among groups of friends. Users can search the Ticketmaster API for upcoming concerts, form groups with other users, and create shared lists where member can vote on which concerts to attend </p>
  <h3 style="font-size:30px; color:#4dffc3">Technologies Used:</h3>
</div>
  <ul>
    <li>AngularJS </li>
    <li>Express</li>
    <li>MongoDB/Mongoose</li>
    <li>Node.js</li>
  </ul>
</div>

<div class="content-div">
  <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;">Randsom</h3>
  <div class="p-div"><p> Randsom is an app that takes a phrase and matches the letters in each word to an image of that letter from the Pinterest API and then scrambles and displays the phrase. Helpful if you are playing a prank on someone and don't want to waste time and money on glue and magazine cutouts. If you are actually ransoming something, please don't use our app. We recommend you return whatever you are ransoming immediately </p>
    <h3 style="font-size:30px; color:#4dffc3">Technologies Used:</h3>
  </div>
  <ul>
    <li>AngularJS </li>
    <li>Ruby on Rails</li>
  </ul>
</div>


<div class="content-div">
  <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;">Rails Recipes</h3>
  <div class="p-div"><p>Rails Recipes is a way to completely optimize your meal planning experience. Users can make make a weekly recipe list where they can view their schedule, add recipes to certain days of the week, and view a shopping list of all the ingredients they need</p>
    <h3 style="font-size:30px; color:#4dffc3">Technologies Used:</h3>
  </div>
  <ul>
    <li>Ruby on Rails</li>
  </ul>
</div>



<div class="content-div">
  <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;">Simon</h3>
  <div class="p-div"><p>A sleek look at the classic Simon memory game</p>
    <h3 style="font-size:30px; color:#4dffc3">Technologies Used:</h3>
  </div>
  <ul>
    <li>Javascript</li>
    <li>jQuery</li>
  </ul>
</div>
</div>
