<div class="container-div">
  <a style="" href="http://gitlab.com/awandres" target="_blank"><h3 style="font-size:33px; color:white; letter-spacing:2px; margin:0px; margin-top:20px;">For Mobile App Portfolio Please View GitLab Repo</h3></a>
<a style="" href="http://gitlab.com/awandres" target="_blank"><img class="hvr-bob" style="max-width:100px" src="img/gitlab-logo-white-stacked-rgb.png" alt=""></a>
<p>*please note - some of these sites I no longer maintain and are run by the client.</p>

<div class="content-div">
    <div class="inner-div">
      <div>
        <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;
  ">iHire</h3>
        <div class="p-div"><p class="projects-text"> I worked for iHire for over a year and a half, helping build out their job board platform with new features and pages to help employers and job-seekers connect in useful ways. I was part of a task force to completely overhaul the design of the website over a 6 months period. I also worked in the backend, adding new tables and columns to the vast SQL database to be used on-site. </p>
      </div>

    </div>

      <div>
        <a href="https://www.ihire.com" target="_blank"><img class="shadow-img centennial" style="" src="img/iHire-Example-Site.png" alt=""></a>
    </div>
  </div>
  <div style="text-align:center;">
    <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
    <h3 style="font-size:30px; color:white;">C# | Razor | Angular | VueJS | HTML/CSS</h3>
  </div>
</div>

<div class="content-div">
    <div class="inner-div">
      <div>
        <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px;
  ">Centennial</h3>
        <div class="p-div"><p class="projects-text"> Centennial is a micro-site to celebrate IAAPA's 100th year anniversary. Features include a timeline 'carousel', photo gallery, contact form, and admin portal where verified users can approve or edit the form submissions to be included on the site. Completely designed and developed by myself per a freelance contract with IAAPA </p>
      </div>

    </div>

      <div>
        <img class="shadow-img centennial" style="" src="img/centennial.png" alt="">
        <a href="https://github.com/awandres/centennial" target="_blank"><p style="text-align:right; font-size:15px; text-decoration:underline;">GitHub Repo</p></a>
    </div>
  </div>
  <div style="text-align:center;">
    <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
    <h3 style="font-size:30px; color:white;">AngularJS | Express | MongoDB | Node.js | HTML/CSS</h3>
  </div>
</div>

<div class="content-div">
    <div class="inner-div">
      <div>
        <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:0px; line-height:80px;
  ">Vetted Trainers</h3>
        <div class="p-div"><p class="projects-text">My client was a fitness trainer who was looking to optimize his site for SEO and Google Ads so he could gain more virtual clientele during quarantine. I developed and designed a new site for him using ReactJS for the speed of a SPA and NextJS for SSR so Google could crawl the page.</p>
      </div>

    </div>

      <div>
        <img class="shadow-img vetted" style="" src="img/vetted.png" alt="">
        <a href="https://github.com/awandres/vetted-trainers" target="_blank"><p style="text-align:right; font-size:15px; text-decoration:underline;">GitHub Repo</p></a>
    </div>
  </div>


  <div style="text-align:center;">
    <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
    <h3 style="font-size:30px; color:white;">React | NextJS</h3>
  </div>
</div>

<div class="content-div">
    <div class="inner-div">
      <div>
        <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:0px; line-height:80px;
  ">Alex Coomer Law</h3>
        <div class="p-div"><p class="projects-text"> I designed and developed a website for a bankruptcy law firm to help with client acquisition and to act as a resource for legal information. I developed it with ReactJS for speed and functionality to best navigate the information, including FAQs about bankrutpcy.</p>
      </div>

    </div>

      <div>
        <a href="https://awandres.github.io/alexcoomerlaw/#/" target="_blank"><img class="shadow-img alexcoomer" style="" src="img/alexcoomerlaw.png" alt=""></a>
        <a href="https://github.com/awandres/alexcoomerlaw" target="_blank"><p style="text-align:right; font-size:15px; text-decoration:underline;">GitHub Repo</p></a>
    </div>
  </div>


  <div style="text-align:center;">
    <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
    <h3 style="font-size:30px; color:white;">React | Express</h3>
  </div>
</div>

<div class="content-div">
    <div class="inner-div eighty-div" style="">
      <div>
        <h3 class="content-heads" style = "font-weight:lighter; margin-top:5px; margin-bottom:-30px; max-width:550px;">Luna Yoga</h3>
        <div class="p-div"><p class="projects-text">I designed and developed a Wordpress site for a newly opened local yoga studio. I created their design pallette, logo, and the layout and content of their services. I created the site with Wordpress, using ACF and some theme customization. I integrated Mind Body Online to handle all class scheduling.</p>
      </div>

    </div>

      <div style=" max-width:500px; margin-left:20px;">
        <img class="shadow-img luna" style="" src="img/luna-yoga.png" alt="">
    </div>
  </div>
  <div style="text-align:center;">
    <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
    <h3 style="font-size:30px; color:white;">Wordpress | PHP</h3>
  </div>
</div>

<div class="content-div">
    <div class="inner-div eighty-div" style="">
      <div>
        <h3 class="content-heads mollys-header" style = "">Molly's Meanderings</h3>
        <div class="p-div"><p class="projects-text">Created an e-com component for an established boutique clothing store. Set up & designed with Lightspeed to sync with retail inventory. Managed inventory & product specs, including meta info for SEO. Added customization via PHP, HTML, and CSS.</p>
      </div>

    </div>

      <div style=" max-width:500px; margin-left:20px;">
        <a href="https://www.mollysmeanderings.com" target="_blank"><img class="shadow-img mollys" style="" src="img/mollys-ss.png" alt=""></a>
    </div>
  </div>
  <div style="text-align:center;">
    <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
    <h3 style="font-size:30px; color:white;">Lightspeed E-Com | PHP | HTML/CSS</h3>
  </div>
</div>

<div class="content-div">
    <div class="inner-div eighty-div" style="">
      <div>
        <h3 class="content-heads" style = "font-weight:lighter; margin-top:5px; margin-bottom:-30px; max-width:550px;">Big Bamboo</h3>
        <div class="p-div"><p class="projects-text"> I completely designed and developed a business website for a bed and breakfast resort in Costa Rica with a focus on rebranding. I developed a color scheme and new logo, as well as organized the content of the site for a more concise user experience. I used Wordpress so the client could edit and update the site.</p>
      </div>

    </div>

      <div style=" max-width:500px; margin-left:20px;">
        <a href="http://www.bigbamboouvita.com/" target="_blank"><img class="shadow-img bamboo" style=" " src="img/bigbamboo_ss.png" alt=""></a>
    </div>
  </div>
  <div style="text-align:center;">
    <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
    <h3 style="font-size:30px; color:white;">Wordpress</h3>
  </div>
</div>

<div class="content-div">
    <div class="inner-div eighty-div" style="">
      <div>
        <h3 class="content-heads" style = "font-weight:lighter; line-height:0.8; margin-top:5px; margin-bottom:-10px; max-width:550px;">Debellis + Ferrara</h3>
        <div class="p-div"><p class="projects-text">I develop fully responsive landing page ads for a variety of clients with unique business needs and marketing goals. Ads focus on a specific target demographic. For any campaign, there may be as many as three different ads, with different content and formatting, to cater to a particular user. The work is ongoing, and pages will only last a few weeks, so I am not always able to reliably link them for portfolio purposes.</p>
      </div>

    </div>

      <div style=" max-width:400px; height:500px; margin-left:20px;">
        <a href="https://one.wglenergy.com/cmp/fallgas19/" target="_blank"><img class="shadow-img debellis" style="" src="img/debellis-ad.png" alt=""></a>
    </div>
  </div>
  <div style="text-align:center;">
    <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
    <h3 style="font-size:30px; color:white;">HTML | CSS | Bootstrap | JS</h3>
  </div>
</div>


<div class="content-div">
  <div class="inner-div">
    <div style="">
      <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px; max-width:550px;
">INRCH</h3>
      <div class="p-div"><p class="projects-text"> I developed a responsive website for a local holistic healing business. I implemented a robust booking and payment software to streamline appointment creation and organization. I used modern design aesthetics combined with intuitive UX to cater to a less tech-savy target demographic. Created with Wordpress.org to keep costs low and the Elementor plugin to keep it lightweight but easily editable by my client. </p>
    </div>

  </div>

    <div>
      <a href="https://www.inrch.com/" target="_blank"><img class="shadow-img inrch" style="" src="img/inrch_screenshot.png" alt=""></a>
  </div>
</div>
<div style="text-align:center;">
  <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
  <h3 style="font-size:30px; color:white;">Wordpress</h3>
</div>
</div>

<div class="content-div">
  <div class="inner-div">
    <div>
      <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px; max-width:550px;
">Marquee</h3>
      <div class="p-div"><p class="projects-text"> Marquee is a concert sharing app that streamlines coordinating attendance to concerts and events among groups of friends. Users can search the Ticketmaster API for upcoming concerts, form groups with other users, and create shared lists where member can vote on which concerts to attend </p>
    </div>

  </div>

    <div>
      <a href="https://marqueeapp.herokuapp.com/" target="_blank"><img class="shadow-img marquee" style="" src="img/marquee.png" alt=""></a>
      <a href="https://github.com/awandres/marquee" target="_blank"><p style="text-align:right; font-size:15px; text-decoration:underline;">GitHub Repo</p></a>
  </div>
</div>
<div style="text-align:center;">
  <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
  <h3 style="font-size:30px; color:white;">AngularJS | Express | MongoDB | Node.js</h3>
</div>
</div>

<div class="content-div">
  <div class="inner-div">
    <div>
      <h3 class="content-heads" style = "font-weight:lighter; margin-top:5px; margin-bottom:-30px; max-width:550px;">Randsom</h3>
      <div class="p-div"><p class="projects-text"> Randsom is an app that takes a phrase and matches the letters in each word to an image of that letter from the Pinterest API and then scrambles and displays the phrase. Helpful if you are playing a prank on someone and don't want to waste money on glue and magazine cutouts. If you are actually ransoming something, please don't use our app. We recommend you return whatever you are ransoming immediately </p>
      </div>
    </div>

    <div>
      <a href="https://mitcheguevara.github.io/Group4Angular-/#/" target="_blank"><img class="shadow-img randsom" style="" src="img/randsom.png" alt=""></a>
      <a href="https://github.com/mitcheguevara/Group4Project3" target="_blank" style="text-decoration:underline;"><p style="text-align:right; font-size:15px;">GitHub Repo (Back End)</a> | <a href="https://github.com/mitcheguevara/Group4Angular-/tree/gh-pages" target="_blank" style="text-decoration:underline;">GitHub Repo (Front End)</a></p>

</div>
</div>
<div style="text-align:center;">
  <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
  <h3 style="font-size:30px; color:white;">AngularJS | Ruby on Rails</h3>
</div>
</div>


<div class="content-div">
  <div class="inner-div">
    <div>
  <h3 class="content-heads" style = "font-weight:lighter; margin-top:5px; margin-bottom:-30px; max-width:550px;">Rails Recipes</h3>
  <div class="p-div" style=""><p class="projects-text">Rails Recipes is a way to completely optimize your meal planning experience. Users can make make a weekly recipe list where they can view their schedule, add recipes to certain days of the week, and view a shopping list of all the ingredients they need</p>
  </div>
</div>

<div style="clear:left; float:left; max-width:350px;">
  <a href="https://rails-recipes-aw.herokuapp.com/" target="_blank"><img class="shadow-img recipes" style=" " src="img/recipes.png" alt=""> </a>
  <a href="https://github.com/awandres/rails_recipes" target="_blank"><p style="text-align:right; font-size:15px; text-decoration:underline;">GitHub Repo</p></a>

  </div>
</div>
<div style="text-align:center;">
  <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
  <h3 style="font-size:30px; color:white;">Ruby on Rails</h3>
</div>
</div>



<div class="content-div">
  <div class="inner-div">
    <div>
      <h3 class="content-heads" style = " font-weight:lighter; margin-top:5px; margin-bottom:-30px; max-width:550px;">Simon</h3>
      <div class="p-div"><p class="projects-text">A sleek look at the classic Simon memory game where users must match a randomized color sequence</p>
      </div>
    </div>

    <div>
      <a href="https://awandres.github.io/simon/" target="_blank"><img class="shadow-img simon" style="" src="img/simon-title.png" alt=""></a>
      <a href="https://github.com/awandres/simon" target="_blank"><p style="text-align:right; font-size:15px; text-decoration:underline;">GitHub Repo</p></a>

</div>
</div>
<div style="text-align:center;">
  <p style="color:#4dffc3; margin-bottom:-35px;">created with</p>
  <h3 style="font-size:30px; color:white;">Javascript | jQuery</h3>
</div>
</div>
